<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Todo Item</title>
    <!-- Include Bootstrap CSS for styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include Bootstrap Icons CSS for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-2">
                <p>
                    <a class="btn btn-outline-success" href="/">
                        <i class="bi bi-arrow-left-square-fill"></i> Back
                    </a>
                </p>
            </div>
            <div class="col-6">
                <h2>Edit Todo Item</h2>
                <!-- Form to edit a todo item -->
                <form th:action="@{/todo/{id}(id=${todo.id})}" th:object="${todo}" method="POST">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input class="form-control"
                               type="text"
                               th:field="*{description}"
                               id="description"
                               placeholder="Description">
                    </div>
                    
                    <div class="form-group">
                        <label for="isComplete">Is Complete</label>
                        <input class="form-control"
                               type="checkbox"
                               id="isComplete"
                               th:field="*{isComplete}">
                    </div>
                    
                    <!-- Hidden fields for timestamps -->
                    <input type="hidden" th:field="*{createAt}"/>
                    <input type="hidden" th:field="*{updateAt}"/>
                    
                    <button type="submit" class="btn btn-outline-success">
                        <i class="bi bi-plus-square-fill"></i> Update
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!-- Include Bootstrap and jQuery scripts for interactivity -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
